h1 {
  text-align: center;
}

.error {
  color: red;
}

em.specifications {
  color: orangered;
}

a#createUserButton {
  position: absolute;
  top: 0px;
  right: 110px;
}

a#loginButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

a#logoutButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

a#modifyListButton {
  position: absolute;
  top: 0px;
  right: 130px;
}

td[colspan="13"] {
  text-align: center;
}
